/* form */
body{
    background:#efefef;
}
.form-body{
    background:#fff;
    padding:20px;
}




.sa-innate-form input[type=text], input[type=password], input[type=file] {
    font-size:13px;
	padding:10px;
	border:1px solid#ccc;
	outline:none;
	width:100%;
	margin:8px 0;
	
}
 /* Submit Botton */ 
.sa-innate-form input[type=submit]{
    border:1px solid#e64b3b;
	background:#e64b3b;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
	}
	.sa-innate-form input[type=submit]:hover{
	border:1px solid#db3b2b;
	background:#db3b2b;
	color:#fff;
	}
	
	.sa-innate-form button{
	border:1px solid#e64b3b;
	background:#e64b3b;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
	}
	
  
  
 /* Input and Date config. */ 
  
  input {
    position: relative;
    width: 100%;height: 30px;
    color: white;
	    font-size: 13px;
    padding: 10px;
    border: 1px solid#ccc;
    outline: none;
    
    margin: 8px 0;
}

input:before {
    position: absolute;
    top: 3px; left: 3px;
    content: attr(data-date);
    display: inline-block;
    color: black;
}


